*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    

}

.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    color:wheat;
}
.logo{
     width: 50%;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    
}
.logo img{
    width: 100px;
    height: 70px;
    border: solid 1px wheat;
    border-radius: 40% 40%;
    overflow: hidden;
}
.logo h1{
    font-size: 30px;
    text-shadow: 2px 2px;
    font-weight: 600;
    font-style: italic;
}

.nav ul{
    display:flex ;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    gap: 60px;
    list-style: none;
    text-transform: uppercase;
    border-bottom: solid 2px white;
    
    

}
.nav ul li{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 60px;
    background-size: 150px;
    border-radius: 20px;
    

}
.nav ul li:hover{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 60px;
    background-color: #c8b8b82b;
    background-size: 150px;
    border: solid wheat 1px;
    border-radius: 20px;
    cursor: pointer;
    
}

.date{
    display: flex;
    justify-content: center;
    align-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 5px;
   
}.date:hover{

border: none;

}
body{
    background-image: linear-gradient(to right, rgba(27, 30, 31, 0.833)20%,rgba(68, 42, 42, 0.723)),url(hassan1.jpg);
    background-size: cover;
    height: 100vh;

}
body:hover{
        background-image: linear-gradient(to right, rgba(27, 30, 31, 0.833)20%,rgba(68, 42, 42, 0.589)),url(hassan1.jpg);

}
.container{
    width: 100%;
    height: 100vh;
display: block;
justify-items: center;
align-items: center;
justify-content: space-between;
align-content: space-around;
margin: 0% 42%;

}
.container input{
    border: solid wheat 10px;
    border-radius: 20px;
    
}
@media (max-width:800px){
    .header{
        display: block;
        width: 100%;
        justify-content: center;
        align-content: center;

    }
    .container{
        margin: 0% 32%;
        height: 400px;
    }
    
    
    
}









